<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
  
  <div class="col-sm-3">
    名前:
    <%= f.text_area :name, :size => "15x1" %>
  </div>
  
  <div class="col-sm-3">  
    内容:
    <%= f.text_area :body, :size => "15x1"  %>
  </div>
  
  <div class="col-sm-3"> 
    年齢:
    <%= f.text_area :age, :size => "15x1" %>
  </div>
  
  <div class="col-sm-3">
     <%= f.submit class: "btn btn-sm btn-primary" %>
  </div>
  
<% end %>